HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/node
!**/src/main/**
!**/src/test/**
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### STS ###
.metadata/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# Logs
logs
*.log

# Environment
.env

# Runtime data
pids
*.pid
*.seed
.attach_pid*

# MacOS
.DS_Store

# Test Directories
.coverage
